body {
  font-family: Arial;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

h2 {
  text-align: center;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056cc;
}

#msg {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
